<h3>Usuarios</h3>
<button (click)="abrirCrear()">Nuevo Usuario</button>
<app-usuario-form
  *ngIf="mostrarModal"
  [usuarioId]="usuarioIdSeleccionado"
  (cerrar)="cerrarModal()"
  (guardado)="recargar()">
</app-usuario-form>
<div class="filtros">
  <input
    type="text"
    placeholder="Buscar por nombre o email"
    [(ngModel)]="filtro"
    (keyup.enter)="aplicarFiltros()"
  >

  <select [(ngModel)]="estado" (change)="aplicarFiltros()">
    <option [ngValue]="true">Activos</option>
    <option [ngValue]="false">Inactivos</option>
  </select>

  <button (click)="aplicarFiltros()">Buscar</button>
  <button (click)="limpiarFiltros()">Limpiar</button>
</div>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of usuarios(); let i = index">
            <td>{{ i + 1 + page * size }}</td>
            <td>{{ u.nombre }} {{ u.apepa }} {{ u.apema }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.rol }}</td>
            <td *ngIf="u.estado">
                <button (click)="editar(u.id)">Editar</button>
                <button (click)="eliminar(u.id)">Eliminar</button>
            </td>
            <td *ngIf="!u.estado">
                <button (click)="recuperar(u.id)">Recuperar</button>
            </td>
        </tr>
    </tbody>
</table>
